<!DOCTYPE html>
<html>
<head>
    <% include ../partials/head %>
</head>
<body class="container">

    <header>
        <% include ../partials/header %>
    </header>

    <main>
            
        <% movies.forEach(function(movie){ %>
            <div>
                <label><%= movie.title %></label>
                <label><%= movie.description %></label>
                <label><%= movie.author %></label>
                <label><%= movie.name_gender %></label>
                <label><%= movie.year %></label>
            </div>
        <% }); %>

    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>
    
</body>
</html>